<header>
    <span class="heading">Bike Pump Finder</span>
    <form class="search" action="searchbikepumptxtbox" method="GET">
        <input id="search-box" name="searchbytype" placeholder="Search.." type="text" />
        <button id="search-button" type="submit"><i class="fa fa-search"></i></button>
    </form>
</header>