<!DOCTYPE html>
<html>
        <%- include("_head.ejs"); %>
        <body>
          <div class="grid-container">
            <%- include("_header.ejs"); %>
            <%- include("_nav.ejs"); %>
          </div> 
        </body>
</html>
