<nav>  
    <button id="btnHome" onclick="location.href='/';"  
     class="w3-button w3-block w3-blue w3-border w3-border-white">Home</button>

    <button id="btnBikepumpindex" onclick="location.href='bikepumpindex';" 
     class="w3-button w3-block w3-blue w3-border w3-border-white">BikePump</button>
</nav>